<div class="landing-container">
  <div class="banner-container">

    <img src="assets/images/webp/zoomed-in-rafter.webp" alt="wedding barn - close up rafter rendering with chandelier" class="wedding-banner" loading="eager"/>
    <div class="trans-banner">
      <div class="trans-background">
        <span class="banner-text">WELCOME TO THE WEDDING BARN</span>
      </div>
    </div>
  </div>

  <img class="arrow" alt="left-arrow" src="/assets/images/arrow.svg" />

  <div class="opening-desc-container">
    <p>
      The Wedding Barn operates a beautiful event space right in the heart of Central Florida. Located just 20 min north
      of Orlando, our idyllic setting is a family owned and operated venue that prides itself on creating the perfect
      event for you. The offer of a beautiful setting, stellar customer service, and an inclusive setting are our
      promise to you. Originally built in 2023, the Wedding Barn features a fully air conditioned event venue, cocktail
      patio, custom bar, dressing suites, and a catering prep kitchen. You and your guests will enjoy mingling, and
      wandering the memorable grounds. As a premier reception venue, The Wedding Barn offers memories to last a life
      time.
    </p>
  </div>

  <img src="assets/images/webp/barn-door-view.webp" alt="wedding barn - rendering of building with barn door view" class="landing-barn-img" loading="eager" />

  <div class="arrow-message">
    <p class="tagline">New Beginnings, Timeless Memories</p>
  </div>

  <div class="collage-container">
    <div class="collage">
      <span class="c-text">The Ceremony</span>
      <img src="assets/images/webp/ceremony.webp" alt="wedding barn - ceremony with oak tree view" class="c-img" loading="lazy"/>
    </div>
    <div class="collage">
      <span class="c-text">The Venue</span>
      <img src="assets/images/webp/interior.webp" alt="wedding barn - interior view from barn door" class="c-img" loading="lazy"/>
    </div>
    <div class="collage">
      <span class="c-text">The Stringlit Porch</span>
      <img src="assets/images/webp/patio.webp" alt="wedding barn - stringlit porch view" class="c-img" loading="lazy"/>
    </div>
  </div>
</div>