<div class="landing-container">
  <div class="banner-container">

    <img src="assets/images/bannermain.png" alt="wedding banner photo" class="wedding-banner" />
    <div class="trans-banner">
      <div class="trans-background">
        <span class="banner-text">WELCOME TO THE WEDDING BARN</span>
      </div>
    </div>
  </div>
  <div class="arrow-message">
    <img src="assets/images/arrowtagline.svg" alt="banner barn outline photo" class="arrow-message-image" />
  </div>
  <div class="outline-container">
    <img src="assets/images/barnnooutline.png" alt="banner barn outline photo" class="collage" />

    <div class="barn-silhouette-container">
      <img src="assets/images/barn.svg" alt="banner barn outline photo" />
      <button mat-raised-button color="wedding" (click)="navTo('contact')">
        <div class="book-btn-container">
          <img src="assets/images/nav-rooster.png" alt="footer rooster" class="footer-rooster" />
          <div class="footer-text">
            <span class="top-text">SAVE THE DATE.</span>
            <!-- <span class="bot-text">BOOK A TOUR TODAY.</span> -->
            <span class="bot-text">CONTACT US TODAY.</span>
          </div>
        </div>
      </button>
    </div>
  </div>

</div>

