.landing-container {
  display: flex;
  margin: 0px max(20px, 10%) 50%;
  flex-direction: column;
}

.banner-container {
  display: flex;
  position: relative;
}

.trans-banner {
  display: flex;
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.trans-background {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 30px;

  > span {
    display: flex;
    font-size: 12px;
    font-family: ambrose-regular-light;
    color: #782f40;
  }
}

.wedding-banner {
  width: 100%;
}

.arrow-message {
  display: flex;
  margin: 30px 0px;
  width: 100%;
}
.arrow-message-image {
  width: 100%;
  margin: auto;
}

.arrow {
  max-width: 600px;
  height: auto;
}
.message {
  display: flex;
  position: absolute;
  bottom: 2rem;
  justify-content: center;
}

.outline-container {
  display: flex;
  position: relative;
  width: 100%;
}

.collage {
  width: 100%;
}
.barn-silhouette-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60%;
  width: 70%;
  left: 15%;
}

.book-btn-container {
  display: flex;
  justify-content: center;
  text-align: left;
}

.mat-wedding {
  background-color: rgb(218, 218, 218);
  border-radius: 30px;
  color: black;
  font-weight: normal;
  margin-top: 30px;
  width: auto;
  display: flex;
  align-self: center;
}

.rooster {
  width: 100px;
}

.save-date {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: auto;
}

.footer-rooster {
  width: 50px;
  object-fit: scale-down;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: normal;
}

.top-text {
  font-size: 1em;
}
.bot-text {
  font-size: 1em;
}

@media (max-width: 400px) {
  .message {
    bottom: 0.5rem;
  }
}

@media (min-width: 800px) {
  .trans-banner {
    bottom: 20px;
  }

  .trans-background {
    padding: 20px;

    > span {
      font-size: 30px;
    }
  }

  .top-text {
    font-size: 2em;
  }
  .bot-text {
    font-size: 2.5em;
  }
  .footer-rooster {
    width: 100px;
    object-fit: scale-down;
  }
  .footer-text {
    height: 100px;
  }
  .arrow-message-image {
    width: 70%;
  }
  .landing-container {
    margin-bottom: 40%;
  }
}

@media (min-width: 1200px) {
  .landing-container {
    margin-bottom: 30%;
  }
}
