.pricing-container {
  display: flex;
  flex-direction: column;
  margin: max(20px, 40px) max(20px, 10%);
  font-weight: 100;
  max-width: 800px;
}

.whats-included {
  font-size: x-large;
  margin: 10px 0px;
}

.pricing-header {
  font-size: x-large;
  line-height: initial;
  background-color: #990033;
  opacity: 50%;
  color: white;
  padding: 20px;
}

.amenities-container {
  margin-top: 20px;
}

li {
  list-style: none;
  margin: 0px 0px 5px 0px;
  font-size: medium;
}

.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.suite-img {
  width: 100%;
  object-fit: scale-down;
  margin-bottom: 10px;
}

.divider {
  margin: 0px 0px 40px 0px;
  border: .5px solid black;
  width: 110%;
  align-self: center;
}

ul {
  list-style: none;
  padding: 0px !important;
  margin: 0px 0px 20px 0px !important;
}


.additional {
  text-align-last: center;
}

.arrow-header {
  font-size: large;
  line-height: 1.5em;
}

h1{
  font-family: ambrose-regular-light;
  font-weight: 100;
}
a{
  color: black;
}

@media (min-width: 800px) {
  .additional{
    margin-bottom: 20px;
  }
  .suite-container {
    display: flex;
    align-self: center;
    align-items: flex-start;
    justify-content: space-around;

  }

  .pricing-container {
    margin: auto;
  }

  .divider {
    max-width: 800px;
  }

  .amenities-container, .suites-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    flex-wrap: wrap;
  }
  .suites-container {
    height: 240px;
  }

  .amenities-section {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  .pricing-header {
    display: flex;
    flex-direction: column;
  }
}