<div class="pricing-container">
  <span class="whats-included">What's Included</span>
  <span class="pricing-header">We understand there is a lot that goes into planning a wedding. That is why
    all of our rentals include the following amenities at no added cost.</span>
  <div class="amenities-container">
    <div class="amenities-section">
      <ul>
        <li class="bold">
          Ceremony, Cocktail Hour and Reception up to 200 guests
        </li>
        <!-- <li>You will be the only event on site for the day</li> -->
        <li>Onsite venue manager</li>
        <li>Fully air conditioned/heated venue</li>
        <li>Handicap accessible</li>
        <li>String-lit cocktail hour porch</li>
        <li>On-site paved parking</li>
        <!-- <li>Access to Mezanine for photos</li> -->
        <li>One hour rehearsal</li>
        <li class="italic">Note: Day of Wedding Coordinator required</li>
      </ul>
    </div>
    <div class="amenities-section">
      <ul>
        <li class="bold">Tables</li>
        <li>60" round tables and chairs for up to 200 guests</li>
        <li>Black or white tableclothes for rounds</li>
        <li>8ft banquet tables (3) used for buffet, DJ, gifts, etc.</li>
        <li>Sweetheart table with chairs</li>
        <li>Cake table</li>
      </ul>
    </div>
    <div class="amenities-section">
      <ul>
        <li class="bold">Chairs</li>
        <li>Outdoor ceremony seating for up to 200 guests</li>
        <li>Reception chairs for up to 200 guests</li>
        <li>Set up and break down of chairs/tables</li>
      </ul>
    </div>
    <div class="amenities-section">
      <ul>
        <li class="bold">Entertainment Equipment (by request)</li>
        <li>Projector</li>
        <li>Ceremony microphone</li>
        <li>Venue microphone</li>
        <li>Speakers</li>
        <li>Dance floor (18' x 18')</li>
        <li>Band stage (16' x 24')</li>
        <li>Wifi access</li>
      </ul>
    </div>
    <div class="amenities-section">
      <ul>
        <li class="bold">Food and Drink</li>
        <li>Use of our onsite catering prep kitchen</li>
        <li>Use of our custom bar</li>
      </ul>
    </div>
  </div>

  <mat-divider class="divider"></mat-divider>
  <div class="suites-container">
    <div class="amenities-section">
      <img src="/assets/images/pricing-page-img.png" alt="Offerings page - bride groom photo" class="suite-img">
    </div>
    <div class="amenities-section">
      <ul>
        <li class="bold">Two Large Dressing Suites</li>
        <li>Full length mirrors</li>
        <li>Makeup stations</li>
        <li>Couches and lounges</li>
        <li>Audio speaker</li>
        <li>Dress hangers</li>
        <li>Private restroom</li>
      </ul>
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="additional">
    <h1>Submit a form <a href="https://www.honeybook.com/widget/the_wedding_barn_234791/cf_id/633da925dd2a5a0026b82a25"
        target="_blank">here</a> to receive information on pricing.</h1>
  </div>
</div>