<div class="pricing-container">
  <span class="pricing-header"
    >We understand there is a lot that goes into planning a wedding. That is why
    all of our rentals include the following amenities at no added cost.</span
  >
  <div class="amenities-container">
    <ul>
      <li class="bold">
        Ceremony, Coacktail Hour and Recpetion up to 200 guests
      </li>
      <li>You will be the only event on site for the day</li>
      <li>Onsite venue manager</li>
      <li>Fully air conditioned/heated venue</li>
      <li>Handicap accessible</li>
      <li>Covered cocktail hour porch</li>
      <li>On-site parking (67 spots, electric charging station)</li>
      <li>Access to Mezanine for photos</li>
      <li>One hour rehearsal scheduled the Thursday before your wedding</li>
      <li class="italic">Note: Day of Wedding Coordinator required</li>
    </ul>
    <ul>
      <li class="bold">Tables</li>
      <li>60" round tables and chairs for up to 200 guests</li>
      <li>Tableclothes for rounds</li>
      <li>8ft naquet tables (3) used for buffet, DJ, gifts, etc.</li>
      <li>Sweetheart table with chairs</li>
      <li>Cake table</li>
    </ul>
    <ul>
      <li class="bold">Chairs</li>
      <li>Outdoors white ceremony chairs for up to 200 guests</li>
      <li>Reception chairs for up to 200 guests</li>
      <li>Set up and break down of chairs/tables</li>
    </ul>
    <ul>
      <li class="bold">Entertainment Equipment</li>
      <li>Projector</li>
      <li>Ceremony microphone</li>
      <li>Venue microphone</li>
      <li>Speakers</li>
      <li>Dance floor (18'x18')</li>
      <li>Band stand (16'x24')</li>
      <li>Wifi access</li>
    </ul>
    <ul>
      <li class="bold">Food and Drink</li>
      <li>Use of our onsite catering prep kitchen</li>
      <li>Use of our custom bar</li>
    </ul>
  </div>

  <mat-divider class="divider"></mat-divider>
  <div class="suite-container">
    <div><img src="../../../assets/images/wedding-photo.jpg" alt="Suite example photo" class="suite-img"></div>
    <ul>
      <li class="bold">Bridak Suite</li>
      <li>Full length mirrors</li>
      <li>Makeup stations</li>
      <li>Couches and lounges</li>
      <li>Audio speaker</li>
      <li>Dress hangers</li>
      <li>Private restroom</li>
    </ul>
    <ul>
      <li class="bold">Groom's Quarters</li>
      <li>Full length mirror</li>
      <li>Couches and lounges</li>
      <li>Dart board</li>
      <li>Audio speaker</li>
      <li>Private restroom</li>
    </ul>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="pricing-info">
    <span>2023 PRICING</span>
    <ul>
      <li>Monday - Thursday $5,100</li>
      <li>Friday $8,100</li>
      <li>Saturday $9,100</li>
      <li>Sunday $7,100</li>
    </ul>
    <span>2024 PRICING</span>
    <ul>
      <li>Monday - Thursday $5,300</li>
      <li>Friday $8,300</li>
      <li>Saturday $9,300</li>
      <li>Sunday $7,300</li>
    </ul>
    <div class="pricing-print">
      <ul>
        <li>*Pricing does not include taxes or processing fees</li>
        <li>*Holiday weekend costs differ (check calendar availability for specific date pricing)</li>
        <li>*Rates apply to new bookings only</li>
      </ul>
    </div>
    <div class="downpayment">
      <span>DOWN PAYMENT</span>
      <ul>
        <li>$2000 deposit to hold your date</li>
        <li>50% payment due 90 days prior to event</li>
        <li>Remaining balance due 60 days prior to event</li>
      </ul>
    </div>
  </div>
  <div class="additional">
    <div class="arrow-header">ADDITIONAL AMENITIES</div>
    <span>Pricing available upon request</span>
    <ul>
      <li>Photo Booth</li>
      <li>Ceremony Livestreaming</li>
      <li>Day of Coordinator</li>
      <li>House Band</li>
      <li>Cocktail Hour/Ceremony Musicians</li>
    </ul>
  </div>
</div>
