<div class="container">
  <img src="/assets/images/nav-rooster.png" alt="footer rooster" class="footer-rooster" />
  <div class="footer-text">
    <span class="top-text">SAVE THE DATE.</span>
    <!-- <span class="bot-text">BOOK A TOUR TODAY.</span> -->
    <a href="https://theweddingbarn.hbportal.co/schedule/639d2e4192efc305bda3f365" target="_blank" class="bot-text">BOOK VIRTUAL TOUR TODAY.</a>
  </div>
  <div class="divider"></div>
  <div class="footer-info">
    <div class="media">
      <a href="https://www.facebook.com/oviedoweddingbarn" target="_blank">
        <img src="/assets/images/f_logo_RGB-Blue_1024.png" alt="facebook Icon" class="facebook" loading="lazy">
      </a>
      <a href="https://www.instagram.com/oviedoweddingbarn" target="_blank">
        <img src="/assets/images/Instagram_Glyph_Gradient_RGB.svg" alt="instagram Icon" class="facebook" loading="lazy">
      </a>
    </div>
    <div class="info">
      <span>(321) 368-4367</span><br>
      <span>info@oviedoweddingbarn.com</span><br>
      <span>346 E. Franklin St.</span> <br>
      <span> Oviedo, FL 32765</span>
    </div>
  </div>

</div>