.footer-rooster {
  display: none;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.media {
  display: flex;
  flex-direction: column;
}
.info {
  text-align: left;
  align-self: center;
  font-size: 1em;
}
.footer-text {
  display: none;
}
.top-text {
  font-size: small;
  text-align: center;
  margin: 5px;
}
.bot-text {
  font-size: medium;
}

.divider {
  display: none;
}

.facebook {
  width: 40px;
}
.bot-icons {
  text-align: center;
}
@media (min-width: 500px) {
  .container {
    flex-direction: row;
  }
  .top-text {
    font-size: large;
    text-align: start;
  }
  .bot-text {
    font-size: x-large;
  }
}
@media (min-width: 650px) {
  .divider {
    display: block;
    border-left: 1px solid black;
    height: 40%;
    margin: 0px 10px;
  }
  .footer-text {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
  }
  .footer-rooster {
    display: block;
    width: 75px;
    object-fit: scale-down;
  }

}