<div class="container">
  <img
    src="../../../assets/images/nav-rooster.png"
    alt="footer rooster"
    class="footer-rooster"
  />
  <div class="footer-text">
    <span class="top-text">SAVE THE DATE</span>
    <span class="bot-text">BOOK A TOUR TODAY.</span>
  </div>
  <mat-divider [vertical]="true" class="divider"></mat-divider>
  <div class="footer-text">
    <span class="top-text">(XXX) XXX-XXXX</span>
    <span class="bot-icons">
      <a href="https://www.facebook.com/Benjammin.2Shirt" target="_blank">
        <img src="../../../assets/images/f_logo_RGB-Blue_1024.png" alt="facebook Icon" class="facebook">
      </a>
      <a href="https://www.facebook.com/Benjammin.2Shirt" target="_blank">
        <img src="../../../assets/images/Instagram_Glyph_Gradient copy.jpg" alt="instagram Icon" class="facebook">
      </a>
    </span>
  </div>
</div>
