<img src="assets/images/webp/family.webp" alt="wedding barn - family breaking ground photo" class="about-photo" />
<div class="container">
    <!-- <h3 style="text-align:center">Meet Our Family</h3> -->
    <div class="header">
        <span class="bio-title">Meet Our Family</span>
    </div>
    <p>We are proud to have 4 generations of family currently living in Oviedo, FL. Though you may not see all of us
        while planning your event with us, know that when having your event with The Wedding Barn you are welcomed as
        part of our family</p>
    <br>
    <div class="bio-container">
        <img src="assets/images/webp/david.webp" alt="wedding barn - David Marini Bio Photo" class="bio-photo" />
        <div class="bio-content">
            <span class="bio-title">David, Sales Manager</span>
            <br />
            <span>When you visit The Wedding Barn, there is a good chance the first face you will see is David’s! An
                alumni
                from Northeastern University, David cultivated a career in management of sales. When given the
                opportunity
                to work with his family, he jumped to join the team as the Sales Manager. As a liason between you
                and the venue, you can always expect a smile when talking to David. In his free time he can be found
                playing board games, volunteering at a local summer camp, and hanging out with his beagle, Banjo. If
                you see him walking his dog, feel free to stop him and say hello!</span>
        </div>
    </div>
    <!-- <br>
    <div class="bio-container">
        <img src="assets/images/webp/david.webp" alt="wedding barn - David Marini Bio Photo" class="bio-photo" />
        <div class="bio-content">
            <span class="bio-title">Natalie, Operations Manager</span>
            <br />
            <span>Natalie was the family member with a vision and a dream. Having planned her wedding in the local area
                and finding there was no event space for her, she had a vision of bringing that social ground to the
                town
                she grew up in. With a mechanical engineering degree from Florida State University, she has an eye for
                detail and knows how to get things running. As the Operations Manager, Natalie leads the team and is
                passionate about your event. In her free time she can be found with her husband, Benjamin, and her two
                children, Henry and Theodore. </span>
        </div>
    </div> -->
</div>