/* You can add global styles to this file, and also import other style files */
html,body{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}


@font-face {
  font-family: ambrose-regular;
  src: url(/assets/fonts/Ambrose_Std_Regular.otf) format("opentype");
}

@font-face {
  font-family: ambrose-regular-light;
  src: url(/assets/fonts/Ambroise_Light_Regular.otf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-fab{
  background-color: #9A2A2A;
  // height: 40px !important;
  // width: 40px !important;
  // .mat-button-wrapper{
  //   height: 40px !important;
  // }
}
.mat-menu-content{
  // background-color: rgb(238, 84, 84);
  background-color: #9A2A2A;
}