/* You can add global styles to this file, and also import other style files */
// @import url(https://use.typekit.net/lds4gch.css);


@font-face {
  font-family: ambrose-regular;
  src: url(/assets/fonts/Ambrose_Std_Regular.otf) format("opentype");
}

@font-face {
  font-family: ambrose-regular-light;
  src: url(/assets/fonts/Ambroise_Light_Regular.otf) format("opentype");
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: canada-type-gibson;
  font-weight: 200;
  font-style: normal;
  font-size: large;
}

.mat-fab {
  background-color: #9A2A2A;
}

.mat-menu-content {
  background-color: #9A2A2A;
}