.header-section{
  display:flex;
  background-color: #f8f8f8;
  height: 200px;
  width: 100%;
  align-self: center;
}

.footer-section{
  display:flex;
  background-color: #f8f8f8;
  min-height: 200px;
  width: 100%;
  align-self: center;
  justify-content: center;
  border-top: ridge;
}



.app-root{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
