.header-container {
  display: flex;
  flex: auto;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #782f40;
}

a:hover {
  text-decoration: underline;
}

.hover-rooster {
  display: none;
  position: absolute;
  align-self: center;
  top: 35px;
  width: min(30px, 60px);
}

.nav {
  display: flex;
  font-family: ambrose-regular-light;
  font-size: large;
  font-weight: 100;
  padding: 0px 5px;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  // width: clamp(100px, 33vw, 200px);
}

.logo-img {
  display: flex;
  width: 100px;
  object-fit: contain;
}

.nav-list {
  display: none;
}

.left-list {
  align-self: flex-end;
  margin-right: 30px;
}

.right-list {
  margin-left: 30px;
}

h3 {
  margin: 0px;
}

.arrow-div {
  display: none;
}

@media (min-width: 400px) {
  .logo-img {
    width: 200px;
  }
}
@media (min-width: 600px) {
  .arrow {
    width: clamp(33vw, 100%, 100%);
  }
  .arrow-div {
    display: block;
  }
  .flip-img {
    transform: scaleX(-1);
  }
  .header-col {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

@media (min-width: 860px) {
  .nav-list {
    display: flex;
  }
  //side-by-side
}
