.header-container {
  display: flex;
  flex: auto;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #782f40;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.hover-rooster {
  display: block;
  position: relative;
  align-self: center;
  // top: 20px;
  margin:auto;
  width: min(30px, 60px);
  opacity: 0;
}

.nav {
  display: flex;
  font-family: ambrose-regular-light;
  font-size: medium;
  font-weight: 100;
  padding: 0px 5px;
}

.nav-text{
  font-family: ambrose-regular-light;
}
.nav-item {
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
}

.logo-img {
  display: flex;
  width: 100px;
  object-fit: contain;
}

.nav-list {
  display: none;
}

.left-list {
  align-self: flex-end;
  margin-right: 30px;
}

.right-list {
  margin-left: 30px;
}

h3 {
  margin: 0px;
}

.arrow-div {
  display: none;
}

.mobile-menu {
  // display: flex;
  // position: fixed;
  // bottom: 25px;
  // right: 5px;

  display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    // width: 20%;

    margin-left: 5%;
    height: inherit;
}

@media (min-width: 400px) {
  .logo-img {
    width: 200px;
  }
}

@media (min-width: 900px) {
  .arrow {
    width: 100%;
  }
  .flip-img {
    transform: scaleX(-1);
  }
  .header-col {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .arrow-div {
    display: block;
  }
  .nav-list {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
  .nav-col{
    flex:1
  }
}
