<div class="nav-container">
  <div>
    <div class="nav-list left-list">
      <div class="nav left-nav" *ngFor="let nav of left_navs">
        <h3>
          <a [title]="nav.text" [routerLink]="['/', nav.link]">
            {{ nav.text | uppercase}}
          </a>
        </h3>
      </div>
    </div>
    <div>
      <!-- <hr class="arrow" /> -->
      <img class="arrow" alt="left-arrow" src="../../../assets/images/header_arrow.png">
    </div>
  </div>

  <div class="center">
    <img
      class="logo-img"
      alt="center logo"
      src="../../../assets/images/WB4.png"
    />
  </div>

  <div>
    <div class="nav-list">
      <div class="nav right-nav" *ngFor="let nav of right_navs">
        <h3>
          <a [title]="nav.text" [routerLink]="['/', nav.link]">
            {{ nav.text | uppercase}}
          </a>
        </h3>
      </div>
    </div>
    <div>
      <!-- <hr class="arrow" /> -->
      <img class="arrow flip-img" alt="right-arrow" src="../../../assets/images/header_arrow.png">
    </div>
  </div>
</div>
