.nav-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;

  > div {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: auto;
  }
}
.nav-list{
  display: flex;
  margin: -30px 30px;
  height: 80px;
}

.left-list{
  align-self: flex-end;

}

a {
  text-decoration: none;
  color: #782f40;
}
a:hover {
  text-decoration: underline;
}

.nav {
  font-family: ambrose-regular-light;
  font-size: large;
  font-weight: 100;
  margin: 20px;
}

.left_nav {
}

.right_nav {
}

.center {
}

.logo-img {
  height: 200px;
  width: 200px;
  margin: 0px 20px;
}

.arrow {
  // border-top: 3px solid #bbb;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
.flip-img{
  transform: scaleX(-1);
}
